<%- include('partials/head', { pageTitle: 'Ошибка' }) %>
<div class="card error-card">
  <h1>Ошибка</h1>
  <p><%= message %></p>
  <a href="/" class="btn btn-primary">На главную</a>
</div>
<%- include('partials/foot') %>
